*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
    max-width: 360px;
    margin: 40px auto;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.btn{
    text-transform: uppercase;
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    transition: all .5s ease;
    color: rgb(47, 78, 132);
    border: 3px solid rgb(47, 78, 132);
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}
h2{
    font-size: 38px;
    line-height: 52px;
    margin-bottom: 20px;
    color: rgb(47, 78, 132);
}
#count{
    width: 200px;
    text-align: center;
    border: 3px solid rgb(47, 78, 132);
    border-radius: 20px;
    color: rgb(47, 78, 132);
    font-size: 62px;
    font-weight: 600;
    padding: 15px 8px;
}
